.sponsor{
      padding-bottom: 130px;
    .section_header{
        h4{
            display: inline-block;
            font-size: 35px;
            font-weight: 500;
            color: $primaryColor;
            border-bottom: 2px solid $primaryColor;
            padding: 20px 0; 
        }
    }
    .sponsor_wrapper{
        padding-top: 50px;
        .sponsor_wrap{
             img{
                 width: 100%;
             }
             border: 2px solid $primaryColor;
             border-radius: 10px;
             margin-top: 20px;
        }
    }
}